
<html>

  <body>
    <header>
      <h1 id="about-us-title">About Us</h1>
    </header>

    <section class="about-us-img" id="about-us-img">
      <img src="aboutwork.jpg" width="550" height="390" alt="workspace" >
    </section>

    <aside class="about-us-description" id="about-us-description">
        <p>This is a description.</p>
    </aside>

    <footer>

    </footer>

  </body>
