
<html>
  <body >
  <header>

  </header>

  <div class="welcomegroup" id="welcomegroup">
    <h1 class="welcome-header">Welcome Home.</h1>
    <button type="button" class="btn btn-secondary" id="home-button" href="/about-us">Enter</button>
  </div>
  </body>
</html>
