
/* Stylesheet for About Us page */

  #about-us-title
  {
    color: black;
  }

  #about-us-img
  {

  }

  aside.about-us-img
  {
    float: left;
    width: 40%;
    margin: 0 1.5%;
  }

  aside.about-us-description
  {
    float: right;
    width: 60%;
    height: 390px;
    margin: 0 1.5%;
    background-color: black;
    color: white;

  }
