/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .intro
 {
   height: 100%;
   width: 100%;
   margin: auto;
 }

/* Homepage Header */
  .welcome-header
  {
    color: black;
    text-align: center;
    padding-top: 20%;
    letter-spacing: 5px;
  }

  h1
  {
    color: grey;
    text-align: center;
    padding-top: 2%;
    letter-spacing: 5px;
  }

  button#home-button
  {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 0.5%;
  }

  .enterbtn
  {
    text-align: center;
  }

.flashmessage
{
  align-items: center;
  color: yellow;
}

/* Navigation Bar */

 a
  {
      padding: 5px 8px 5px 8px;
  }

  a:hover
    {
      text-decoration: none;
      color: white;
    }

    nav li a
    {
      text-transform: uppercase;
      font-size: 11px;
    }

  #navbarTogglerDemo01
  {
    align-items: center;
  }

  .nav-item:hover
  {
    background-color: black;
    padding: 3px 6px 3px 6px;
  }

  #brand
  {
    padding-left: 10px;
  }
